<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>iklim değişikliliği</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>İKLİM DEĞİŞİKLİLİĞİ</h1>
      <p>NE OLDUĞUNU, NEDENLERİNİ, SONUÇLARI, ETKİLERİNİ ÖĞRENİN!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Merhaba! Şimdi nangisini öğrenmek istiyorsunuz?</h2>
    <ul class="list">
      
      <li class="list__item">
        <a href="/3">
        <img class="item__img" src="../static/img/indir2.jpeg" alt="home">
        </a>
      </li>
      <!-- Görev #1 -->
      
        <li class="list__item">
          <a href="/3">
          <img class="item__img" src="../static/img/indir3.jpeg" alt="home">
        </a>
        </li>
        
      
        <li class="list__item">
          <a href="/3">
          <img class="item__img" src="../static/img/indir4.jpeg" alt="home">
        </a>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>


<!--
    </li>
      <li class="list__item">
        <a href="/3">
        <img class="item__img" src="../static/img/indir2.jpeg" alt="home">
    </li> -->